<% content_for(:title, "Edit list | To Do") %>

<h1>Edit list</h1>

<%= render('layouts/errors', :object => @list) %>

<form action="/lists/<%= @list.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button>Update List</button>
</form>
