<% content_for(:title, "Home | To Do") %>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>
  <% end %>
</ul>

<p>
  <a href="/lists/new"> Add a new list </a>
</p>
