<% content_for(:title, "New task | To Do") %>

<h1>New task for <%= @task.list.name %></h1>

<%= render('layouts/errors', :object => @task) %>

<form action="/lists/<%= @task.list.id %>/tasks" method="post">
  <%= render('form') %>
  <button>Add task</button>
</form>
